<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Dealz</title>
</head>
<body>
    <nav>
        <div>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        </div>
    </nav>
    <form action="/create/car" method="post">
        <h2>Put Car Up For Sale</h2>
        {% with messages = get_flashed_messages(category_filter=['car']) %}
            {% if messages %}
            <div>
                <strong>Flash</strong>
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        <div>
            <div>
                <div>
                    <label>Price:</label>
                    <input type="text" name="price">
                </div>
                <div>
                    <label>Model:</label>
                    <input type="text" name="model">
                </div>
                <div>
                    <label>Make:</label>
                    <input type="text" name="make">
                </div>
                <div>
                    <label>Year:</label>
                    <input type="text" name="year">
                </div>
                <div>
                    <label>Description:</label>
                    <textarea name="description"  cols="30" rows="5"></textarea>
                </div>
                <br>
                <button>Add</button>
            </div>
        </div>
    </form>
</body>
</html>